
.body {

  .dimensionRow {
    border-bottom: 1px #eeeeee solid;
  }

  .dimensionLabel, .valueLabel {
    height: 40px;
    line-height: 40px;
  }

  .dimensionList, .valueList {
    width: 100%;
    margin: 4px 0;

    * {
      border: none;
      outline: none;
    }

    li:not(:last-child) {
      border: 0;
      color: #ffffff;
      background: linear-gradient(-45deg, transparent 5px, #528FDF 0);

      span {
        color: #ffffff;
      }
    }
  }
}

.dimensionListDropdown, .valueListDropdown {
  display: none;
}
