
.body {

  :global(.ant-modal-body) {
    padding: 20px;

    .table {

      :global(.ant-table-title) {
        text-align: right;

        .add {
          cursor: pointer;
          user-select: none;

          &:hover {
            color: #5290de;
          }
        }
      }

      .delete {
        cursor: pointer;

        &:hover {
          color: #5290de;
        }
      }
    }
  }
}
